@import "./variable.scss";

@mixin title-large($size, $color: $color-blue-ligth) {
  @if $size == l {
    font-size: 2.188rem;
    font-weight: bold;
    font-family: "Argentum Sans ExtraBold", sans-serif;
    opacity: 1;
    color: $color;
  } @else if $size == m {
    font-size: 1.875rem;
    font-weight: bold;
    font-family: "Argentum Sans ExtraBold", sans-serif;
    opacity: 1;
    color: $color;
  } @else if $size == s {
    font-size: 1.563rem;
    font-weight: bold;
    font-family: "Argentum Sans ExtraBold", sans-serif;
    opacity: 1;
    color: $color;
  } @else if $size == xs {
    font-size: 1.25rem;
  }
}

@mixin title-midle($color) {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Argentum Sans", sans-serif;
  color: $color;
}

@mixin title-small($color) {
  font-size: 1rem;
  font-family: "Argentum Sans Regular", sans-serif;
  color: $color;
}

@mixin text-small($color) {
  font-size: 0.875rem;
  font-family: "Argentum Sans Regular", sans-serif;
  font-weight: normal;
  letter-spacing: 0.29px;
  color: $color;
}

@mixin text-extra-small($color) {
  font-size: 0.75rem;
  font-family: "Argentum Sans Medium", sans-serif;
  color: $color;
}

@mixin title-extra-small($color: $color-white) {
  font-family: "Argentum Sans Regular", sans-serif;
  font-size: 0.625rem;
  color: $color;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@mixin buttonText {
  font-size: 0.625rem;
  text-transform: uppercase;
}

@mixin buttonHome(
  $background: $bg-gradient-btn,
  $color,
  $border,
  $fontFamily,
  $weight
) {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background: $background;
  font-family: $fontFamily;
  color: $color;
  border: $border;
  font-weight: $weight;
  letter-spacing: 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
  @include buttonText;
  @include device(xs) {
    width: 80px;
    height: 30px;
    font-size: 0.438rem;
  }
}

@mixin buttonState {
  width: 200px;
  height: 35px;
  position: absolute;
  left: 60px;
  bottom: 100px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  font-size: 0.875rem;
  font-family: "Argentum Sans Regular", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 5px;
}

@mixin inputFocus {
  &:focus {
    outline: none;
    border: 1px solid;
    border-radius: 1rem;
    border-color: #2180f3;
  }
  &:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s;
  }
}

@mixin boxInfo($background) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: $background;
  width: 180px;
  height: 165px;
  gap: $gap-sm;
  cursor: pointer;
}

@mixin boxInfo-md($background) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: $background;
  width: 120px;
  height: 85px;
  gap: $gap-sm;
  cursor: pointer;
}

@mixin button-small-device {
  height: 20px;
  width: 80px;
  padding: 2px 0px 2px 0px;
  letter-spacing: 1px;
}

//Mixin NavBar
@mixin flex($dir, $wrap, $just, $align) {
  display: flex;
  flex-flow: $dir $wrap;
  justify-content: $just;
  align-items: $align;
}

@mixin mediaNav() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

//Breakpoints
@mixin device($size) {
  @if $size == l {
    @media screen and (min-width: #{$large-device}) {
      @content;
    }
  } @else if $size == m {
    @media screen and (min-width: #{$midle-device}) and (max-width: #{$large-device - 1}) {
      @content;
    }
  } @else if $size == s {
    @media screen and (max-width: #{$midle-device - 1}) {
      @content;
    }
  } @else if $size == xs {
    @media screen and (min-width: #{$xs-small-device}) and (max-width: #{$small-device - 1}) {
      @content;
    }
  }
}
