@import "./variable.scss";

//Breakpoints
@mixin device($size) {
  @if $size == l {
    @media screen and (min-width: #{$large-device}) {
      @content;
    }
  } @else if $size == m {
    @media screen and (min-width: #{$midle-device}) and (max-width: #{$large-device - 1}) {
      @content;
    }
  } @else if $size == s {
    @media screen and (max-width: #{$midle-device - 1}) {
      @content;
    }
  } @else if $size == xs {
    @media screen and (min-width: #{$xs-small-device}) and (max-width: #{$small-device - 1}) {
      @content;
    }
  }
}


@mixin title-large {
  font-size: 2.188;
  font-weight: bold;
  font-family: "Argentum Sans ExtraBold", sans-serif;
  opacity: 1;
  color: $color-blue-ligth;
}

@mixin title-midle($color) {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Argentum Sans", sans-serif;
  color: $color;
}

@mixin title-small($color) {
  font-size: 1rem;
  font-family: "Argentum Sans Regular", sans-serif;
  color: $color;
}

@mixin text-small($color) {
  font-size: 0.875rem;
  font-family: "Argentum Sans Regular", sans-serif;
  color: $color;
}

@mixin text-extra-small($color) {
  font-size: 0.75;
  font-family: "Argentum Sans Medium", sans-serif;
  color: $color;
}

@mixin buttonText {
  font-size: 0.625rem;
  text-transform: uppercase;
}

@mixin buttonHome($background: $bg-gradient-btn, $color, $border, $weight) {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background: $background;
  color: $color;
  border: $border;
  font-weight: $weight;
  letter-spacing: 3px;
  cursor: pointer;
  @include buttonText;
  @include device(xs) {
    width: 80px;
    height: 30px;
    font-size: 0.438rem;
  }
}

