$color-blue-ligth: #005bd5;
$color-blue-dark: #002e6b;
$color-grey-text-1: #8b8b8b;
$color-grey-text-2: #afb3b8;
$color-grey-ultraligth: #eeeeee;
$gradiente-blue: transparent linear-gradient(100deg, #005bd5 0%, #002e6b 100%);
