//Colors
$color-blue-ligth: #005bd5;
$color-blue-dark: #002e6b;
$color-grey-text-1: #8b8b8b;
$color-grey-text-2: #afb3b8;
$color-grey-ultraligth: #eeeeee;
$color-white: #fff;
$bg-gradient-blue: transparent linear-gradient(190deg, #005bd5 0%, #002e6b 100%);
$bg-gradient-btn: #005bd5 0% 0% no-repeat padding-box;
$bg-transparent: transparent;

// Heigth
$header-height: 70px;

//Sizes
$s: 37.5rem;
$md: 48rem;
$lg: 64rem;
$xl: 75rem;

//Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

//Gap
$gap-sm: 16px;
$gap-md: 20px;
$gap-lg: 35px;

// Size Breakpoints
$large-device: 1200px;
$midle-device: 800px;
$small-device: 784px;
$small-md-device: 390px;
$xs-small-device: 350px;
