@import "../../styles/variable.scss";
@import "../../styles/mixins.scss";

.button {
  @include buttonHome(
    $bg-gradient-btn,
    $color-white,
    none,
    "Argentum Sans ExtraBold",
    bold
  );
  &:hover {
    color: $color-blue-ligth;
    background-color: $color-white;
    box-shadow: 0 0 20px #6fc5ff50;
    border: none;
  }
}
