@import "../../styles/global.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: $color-blue-ligth;

  .Box_Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 600px;
    height: 290px;
    padding: 40px 0px 0px 0px;
    // background-color: rgb(240, 154, 233);

    h2 {
      @include title-midle($color-white);
      text-align: center;
    }
  }

  .textearea {
    width: 334px;
    height: 68px;
    border-radius: 16px;
    border: 2px solid transparent;
    padding: 12px 16px 14px;
    resize: none;
    color: $color-grey-ultraligth;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    @include inputFocus;

    @media (max-width: 350px) {
      width: 300px;
    }
  }

  .btn {
    margin-top: 10px;
    @include buttonHome(
      $bg-transparent,
      $color-white,
      1px solid $color-white,
      "Argentum Sans",
      normal
    );

    &:hover {
      color: $color-blue-ligth;
      background-color: $color-white;
      box-shadow: 0 0 20px #6fc5ff50;
      border: none;
    }
  }
}
