@import "../../styles/global.scss";

.header {
  width: 100%;
  height: $header-height;
  background-color: $color-white;
  @include text-extra-small($color-blue-ligth);
  padding: 0 $spacing-md;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  .logo {
    width: 150px;
  }
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: $gap-md;
  }

  .nav {
    display: flex;
    gap: $gap-lg;
    margin-right: $gap-lg;

    .nav_item {
      @include text-extra-small($color-blue-ligth);
    }
  }

  button {
    @include buttonHome(
      $bg-gradient-btn,
      $color-white,
      none,
      "Argentum Sans ExtraBold",
      bold
    );
  }
}
