@import "../../styles/global.scss";

.header {
  height: $header-height;
  background-color: $color-white;
  width: 100%;
  @include text-extra-small($color-blue-ligth);
  padding: 0 $spacing-md;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease padding;
  .logo {
    @include device(xs) {
      margin-top: $gap-md;
    }
  }
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: $gap-md;
    @include device(m) {
      width: 40%;
      margin-right: 80px;
    }
    @include device(s) {
      width: 50%;
      margin-right: 80px;
      padding-bottom: 100px;
    }
    @include device(xs) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      font-size: 9px;
    }
  }

  .nav {
    display: flex;
    gap: $gap-lg;
    margin-right: $gap-lg;

    .nav_item {
      @include text-extra-small($color-blue-ligth);
    }
  }

  button {
    @include buttonHome($bg-gradient-btn, $color-white, none, "Argentum Sans ExtraBold", bold);
    @include device(s) {
      height: 20px;
      font-size: 7px;
    }
  }
  @include device(xs) {
    display: flex;
    flex-direction: column;
  }
}
